.my-container {
  display: flex;
  margin-bottom: 10px;
 }

.my-list-container {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 90%;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.my-spacer { width: 5%; }

.my-lists {
  width: 25%;
  margin-right: 10px;
}

.my-list {
  width: 75%;
  margin-bottom: 5px;
}

.my-list-content {
  height: 900px;
  overflow-y: scroll;
}

.mat-card .mat-divider {
  position: relative;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .my-list-container {
    width: 100%;
    flex-direction: column;
  }
  .my-list {
    width: 100%;
    margin-top: 5px;
  }
  .my-lists { width: 100%; }
}

mat-list mat-list-item [mat-line] {
  text-overflow: ellipsis;
  white-space: wrap;
}
