<div *ngIf="dialogRef == null" class="my-container my-scrollable-container">
  <span class="my-spacer hide-sm"></span>

  <div class="my-list-container">
    <!-- Manage list on mobile -->
    <mat-card class="my-full-width show-sm">
      <mat-card-content class="my-column">
        <div class="my-row">
          <mat-form-field style="flex: 1" *ngIf="lists.length > 0">
            <mat-select placeholder="Choisir une liste" [formControl]="inputSelectedList" (change)="onSelectChange()">
              <mat-option *ngFor="let list of lists" [value]="list">
                {{ list.name }}
              </mat-option>
              <mat-divider></mat-divider>
              <mat-option *ngFor="let sharedList of sharedLists" [value]="sharedList">
                {{ sharedList.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button (click)="showNewListInput = true">
            <mat-icon aria-label="ajouter">add</mat-icon>
          </button>
        </div>

        <form *ngIf="showNewListInput" (ngSubmit)="createList()" class="my-row" [formGroup]="newListForm">
          <mat-form-field style="flex: 1;">
            <input matInput myAutofocus placeholder="Label" formControlName="newList" name="newList">
          </mat-form-field>
          <mat-icon aria-label="Close" class="my-pointer" (click)="showNewListInput = false">close</mat-icon>
        </form>

      </mat-card-content>
    </mat-card>

    <!-- Manage list on pc -->
    <mat-card class="my-lists hide-sm">
      <mat-card-header class="my-card-title">
        <span>Listes</span>
        <span class="my-flex-spacer"></span>
        <button mat-icon-button (click)="showNewListInput = true">
          <mat-icon aria-label="ajouter">add</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>

        <form *ngIf="showNewListInput" (ngSubmit)="createList()" class="my-row" [formGroup]="newListForm">
          <mat-form-field style="flex: 1;">
            <input matInput myAutofocus placeholder="Label" formControlName="newList" name="newList">
          </mat-form-field>
          <mat-icon aria-label="Close" class="my-pointer" (click)="showNewListInput = false">close</mat-icon>
        </form>

        <mat-list role="list" *ngIf="lists.length > 0">
          <h3 mat-subheader>Mes listes</h3>
          <mat-list-item *ngFor="let list of lists" class="my-list-item" (click)="onSelectedListChange(list)">
            <p mat-line> {{list.name}} </p>
          </mat-list-item>
          <mat-divider class="my-margin-top"></mat-divider>
          <h3 mat-subheader>Partagées avec moi</h3>
          <mat-list-item *ngFor="let sharedList of sharedLists" class="my-list-item" (click)="onSelectedListChange(sharedList)">
            <p mat-line> {{sharedList.name}} </p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <!-- Selected list items -->
    <mat-card *ngIf="selectedList" class="my-list">
      <mat-card-header class="my-card-title">
        <span>{{selectedList.name}}</span>
        <span class="my-flex-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="listMenu">
          <mat-icon aria-label="options">more_vert</mat-icon>
        </button>
        <mat-menu #listMenu="matMenu">
          <button mat-menu-item (click)="toggleNewItemInput(true)">
            <mat-icon>add</mat-icon>
            <span>Ajouter un élément</span>
          </button>
          <button mat-menu-item (click)="refreshItems()">
            <mat-icon>refresh</mat-icon>
            <span>Actualiser</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="openShareModal()">
            <mat-icon>share</mat-icon>
            <span>Partager</span>
          </button>
          <button mat-menu-item class="hover-warning" (click)="openConfirmDialog(deleteListMessage, selectedList, 'list')">
            <mat-icon>delete</mat-icon>
            <span>Supprimer</span>
          </button>
        </mat-menu>
      </mat-card-header>
      <mat-card-content>
        <form *ngIf="showNewItemInput" (ngSubmit)="addItem()" class="my-row" [formGroup]="newItemForm">
          <mat-form-field style="flex: 1;">
            <input matInput myAutofocus placeholder="Label" formControlName="newItem" name="newItem">
          </mat-form-field>
          <mat-icon aria-label="Close" class="my-pointer" (click)="toggleNewItemInput(false)">close</mat-icon>
        </form>

        <mat-list>
          <h3 mat-subheader (click)="hideToDo = !hideToDo" class="my-pointer my-row">
            <mat-icon *ngIf="!hideToDo">expand_less</mat-icon>
            <mat-icon *ngIf="hideToDo">expand_more</mat-icon>
            A faire <span class="badge my-margin-left">{{filterItems(false).length}}</span>
          </h3>
          <mat-list-item *ngFor="let item of filterItems(false)" class="my-item my-margin-bottom" [ngClass]="{'hide': hideToDo}">
            <mat-icon mat-list-icon class="my-pointer" (click)="checkItem(item)">check_box_outline_blank</mat-icon>
            <h4 mat-line class="my-row-between">
              <span>{{item.name}}</span>
              <button mat-icon-button (click)="openConfirmDialog(deleteItemMessage + item.name + ' ?', item, 'item')">
                <mat-icon aria-label="delete">close</mat-icon>
              </button>
            </h4>
          </mat-list-item>
        </mat-list>

        <mat-list>
          <mat-divider class="my-margin-top"></mat-divider>
          <h3 mat-subheader (click)="hideDone = !hideDone" class="my-pointer my-row">
            <mat-icon *ngIf="!hideDone">expand_less</mat-icon>
            <mat-icon *ngIf="hideDone">expand_more</mat-icon>
            Faits <span class="badge my-margin-left">{{filterItems(true).length}}</span>
          </h3>
          <mat-list-item *ngFor="let item of filterItems(true)" class="my-item" [ngClass]="{'hide': hideDone}">
            <mat-icon mat-list-icon class="my-pointer" (click)="checkItem(item)">check_box</mat-icon>
            <h4 mat-line class="my-row-between">
              <span>{{item.name}}</span>
              <button mat-icon-button (click)="openConfirmDialog(deleteItemMessage + item.name + ' ?', item, 'item')">
                <mat-icon aria-label="delete">close</mat-icon>
              </button>
            </h4>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="!selectedList" class="my-full-width">
      Veuillez créer une nouvelle liste.
    </mat-card>
  </div>

  <span class="my-spacer hide-sm"></span>
</div>
