<div class="my-content my-component-container my-scrollable-container">
  <span class="my-spacer hide-sm"></span>

  <div class="my-component-content">
    <mat-card>
      <mat-card-title>{{recipe.name}}</mat-card-title>
      <mat-card-content>

        <div class="my-row-between">
          <div class="my-row">
            <mat-icon>access_time</mat-icon>
            <span class="my-margin-left">{{recipe.time}}</span>
          </div>
          <div *ngIf="recipe.difficulty == 1" [innerHTML]="':yum:' | emojis"></div>
          <div *ngIf="recipe.difficulty == 2" [innerHTML]="':blush:' | emojis"></div>
          <div *ngIf="recipe.difficulty == 3" [innerHTML]="':neutral_face:' | emojis"></div>
          <div *ngIf="recipe.difficulty == 4" [innerHTML]="':grimacing:' | emojis"></div>
        </div>

        <p>Ingrédients: ???</p>

        <p>{{recipe.description}}</p>

        <br/>
        <div class="my-card-footer">
          <p>Ajoutée par <span class="strong">{{username}}</span></p>
        </div>

      </mat-card-content>
    </mat-card>
    <div class="my-card-actions my-margin-top">
      <button mat-raised-button color="primary" class="hide-sm white-text btn-round" [routerLink]="['/recipes']">Retour</button>
    </div>
  </div>

  <span class="my-spacer hide-sm"></span>
</div>
