<h2 mat-dialog-title>Rechercher une recette</h2>
<mat-dialog-content>
  <form class="my-form">
    <mat-form-field>
      <input matInput placeholder="Recette" [(ngModel)]="inputSearch" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="{search: false}">Fermer</button>
  <button mat-button [mat-dialog-close]="{search: true, value: inputSearch}" class="my-row">
    <mat-icon>search</mat-icon>
    <span>Rechercher</span>
  </button>
</mat-dialog-actions>
