<div class="my-content my-component-container my-scrollable-container">
  <span class="my-spacer hide-sm"></span>

  <mat-card class="my-component-content">
    <mat-card-content>

      <form class="my-margin-top my-form" [formGroup]="recipeForm">

        <mat-form-field>
          <input matInput myAutofocus placeholder="Nom" formControlName="recipeName" name="recipeName">
        </mat-form-field>

        <mat-form-field>
          <textarea matInput
            placeholder="Description"
            formControlName="recipeDescription"
            name="recipeDescription"
            matTextareaAutosize
            matAutosizeMinRows="10"
            matAutosizeMaxRows="25">
          </textarea>
        </mat-form-field>

        <p class="grey-text">Difficulté</p>
        <div class="radio-emojis">
          <mat-radio-group id="difficultyMark" formControlName="recipeDifficulty" name="recipeDifficulty">
            <mat-radio-button class="example-radio-button" [ngClass]="{'inactive':recipeDifficultyCtrl.value !== 1}" color="primary" [value]="1">
              <div [innerHTML]="':grimacing:' | emojis"></div>
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [ngClass]="{'inactive':recipeDifficultyCtrl.value !== 2}" color="primary" [value]="2">
              <div [innerHTML]="':neutral_face:' | emojis"></div>
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [ngClass]="{'inactive':recipeDifficultyCtrl.value !== 3}" color="primary" [value]="3">
              <div [innerHTML]="':blush:' | emojis"></div>
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [ngClass]="{'inactive':recipeDifficultyCtrl.value !== 4}" color="primary" [value]="4">
              <div [innerHTML]="':yum:' | emojis"></div>
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <mat-form-field>
          <input matInput type="number" placeholder="Temps" formControlName="recipeTime" name="recipeTime">
        </mat-form-field>

        <div class="my-row">
          <mat-form-field class="my-margin-top" style="flex: 1;">
            <input type="text" placeholder="Ajouter des ingrédients" matInput [formControl]="autocompleteControl" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let ingredient of filteredIngredients | async" [value]="ingredient">
                {{ ingredient.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button mat-mini-fab color="primary" (click)="addSelectedIngredient()">
            <mat-icon aria-label="Add">add</mat-icon>
          </button>
        </div>

        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let selectedIngredient of selectedIngredients" class="my-full-width my-row">
            <span style="flex: 1;">{{selectedIngredient.name}}</span>
            <button mat-icon-button (click)="removeSelectedIngredient(selectedIngredient)" class="grey-text">
              <mat-icon aria-label="Remove">close</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </form>

      <div class="my-card-actions">
        <button mat-raised-button color="primary" class="hide-sm white-text" [routerLink]="['/recipes']">Retour</button>
        <button mat-raised-button [disabled]="recipeForm.invalid" color="accent" class="white-text" (click)="createRecipe()">Ajouter</button>
      </div>

    </mat-card-content>
  </mat-card>

  <span class="my-spacer hide-sm"></span>
</div>
