.my-container {
  display: flex;
  margin-top: 15px;
 }

.my-profile-container {
  flex: 1;
  margin: 5px;
}

.my-profile-title { font-size: 25px; }
.my-spacer { flex: 0.5 1 auto; }
.my-large-spacer { flex: 1 1 auto; }
