<mat-toolbar color="primary" class="my-toolbar shadow-1">
  <mat-toolbar-row>

    <button class="show-sm my-margin-rigth" *ngIf="hasReturn" mat-icon-button (click)="return()">
      <mat-icon >arrow_back</mat-icon>
    </button>

    <span class="my-margin-left show-sm">{{title}}</span>
    <span class="my-margin-left hide-sm">Trucsafaire</span>

    <div class="hide-sm">
      <button mat-button [routerLink]="['/profile']" class="my-row">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-button [routerLink]="['/']" class="my-row">
        <mat-icon>list</mat-icon>
        <span>Listes</span>
      </button>
      <button mat-button [matMenuTriggerFor]="menuKitchen" class="my-row">
        <mat-icon>local_dining</mat-icon>
        <span>Cuisine</span>
      </button>
      <mat-menu #menuKitchen="matMenu">
        <button mat-menu-item [routerLink]="['/recipes']">Recettes</button>
        <button mat-menu-item [routerLink]="['/ingredients']">Ingredients</button>
        <mat-divider></mat-divider>
        <button mat-menu-item>Que mange t'on ?</button>
      </mat-menu>
    </div>
    <span class="my-flex-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
