/* Variables */
$warning: #FF5722;

/* Styles */
*, *:before, *:after {
  box-sizing: border-box;
}

.emoji {
  display:inline-block;
}

html, body {
  background-color: #EEEEEE;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-smoothing: antialiased;
}

/* Responsive */
.show-sm {
  display: none !important;
}

@media screen and (max-width: 800px) {
  .hide-sm {
    display: none !important;
  }

  .show-sm {
    display: block !important;
  }

  .my-row-lg-col-sm {
    display: flex;
    flex-direction: column;
  }

  mat-card {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
  }

  .my-scrollable-container {
    height: calc(100vh - 107px);
    overflow-y: auto;
  }

  .my-scrollable-tab-container {
    height: calc(100vh - 155px);
    overflow-y: auto;
  }

  .my-component-content {
    margin-top: 0px !important;
  }

  .my-container {
    margin-top: 55px !important;
  }
}

/* Containers */
.my-container {
  margin-top: 65px;
  height: calc(100vh - 107px);
}

.my-content { padding: 10px; }

.my-component-container {
  display: flex;
  justify-content: center;
}

.my-component-content {
  flex: 1;
  padding: 5px;
  margin-top: 10px;
}

.my-small-spacer { flex: 0.1 1 auto; }
.my-spacer { flex: 0.5 1 auto; }
.my-large-spacer { flex: 1 1 auto; }

/* Components */
.my-pointer { cursor: pointer; }

.my-list-item { cursor: pointer; }
.my-list-item:hover { background-color: #EEEEEE; }
.my-item:hover { background-color: #EEEEEE; }

mat-card { border-radius: 8px !important; }

.my-card-title {
  color: #00ADB5;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.my-card-actions { /* Override angular material */
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
}

.my-card-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-style: italic;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.my-form {
  display: flex;
  flex-direction: column;
}

/* Layouts */
.my-row {
  display: flex;
  align-items: center;
}

.my-row-lg-col-sm {
  display: flex;
  align-items: center;
}

.my-row-between {
  display: flex  !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.my-column {
  display: flex;
  flex-direction: column;
}

.my-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-full-width { width: 100%; }

/* Space */
.my-margin-left { margin-left: 5px; }
.my-margin-right { margin-right: 5px; }
.my-margin-top { margin-top: 5px !important; }
.my-margin-bottom { margin-bottom: 5px; }
.my-flex-spacer {flex: 1 1 auto; }

/* Colors */
.white-text { color: #fff; }
.red-text { color: #F44336; }

.hover-warning:hover { color: $warning; }

/* Badge */
.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  border-radius: 9px;
}

/* Rounded button */
.btn-round {
  border-radius: 25px !important;
}

/* Gradient button */
.btn-grad {
  // text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white !important;
}

.btn-grad:hover { background-position: right center; }

.teal-green-grad { background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%); }
.blue-purple-grad { background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%); }
.lightblue-blue-grad { background-image: linear-gradient(to right, #00c6ff 0%, #0072ff 51%, #00c6ff 100%); }
.purple-red-grad { background-image: linear-gradient(to right, #7b4397 0%, #dc2430 51%, #7b4397 100%); }
.salmon-orange-grad { background-image: linear-gradient(to right, #FFAFBD 0%, #ffc3a0 51%, #FFAFBD 100%); }
.purple-teal-grad { background-image: linear-gradient(to right, #fc00ff 0%, #00dbde 51%, #fc00ff 100%); }
.teal-purple-grad { background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 51%, #00dbde 100%); }
.grey-black-grad { background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 51%, #bdc3c7 100%); }
