/* Variables */
$warning: #FF5722;

/* Styles */
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  background-color: #EEEEEE;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-smoothing: antialiased;
}

/* Utils */
@media screen and (max-width: 700px) {
  .hide-sm {
    display: none !important;
  }
}

.my-pointer { cursor: pointer; }

/* Components */
.my-form {
  display: flex;
  flex-direction: column;
}

.my-card-actions { /* Override angular material */
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
}

/* Layouts */
.my-row {
  display: flex;
  align-items: center;
}

.my-row-between {
  display: flex  !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.my-column {
  display: flex;
  flex-direction: column;
}

.my-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Space */
.my-margin-left { margin-left: 5px; }
.my-margin-right { margin-right: 5px; }
.my-margin-top { margin-top: 5px !important; }
.my-margin-bottom { margin-bottom: 5px; }

.my-flex-spacer {
  flex: 1 1 auto;
}

/* Colors */
.white-text { color: #fff; }

.hover-warning:hover { color: $warning; }

/* Rounded button */
.btn-round {
  border-radius: 25px !important;
}

/* Gradient button */
.btn-grad {
  // text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white !important;
}

.btn-grad:hover { background-position: right center; }

.teal-green-grad { background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%); }
.blue-purple-grad { background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%); }
.lightblue-blue-grad { background-image: linear-gradient(to right, #00c6ff 0%, #0072ff 51%, #00c6ff 100%); }
.purple-red-grad { background-image: linear-gradient(to right, #7b4397 0%, #dc2430 51%, #7b4397 100%); }
.salmon-orange-grad { background-image: linear-gradient(to right, #FFAFBD 0%, #ffc3a0 51%, #FFAFBD 100%); }
.purple-teal-grad { background-image: linear-gradient(to right, #fc00ff 0%, #00dbde 51%, #fc00ff 100%); }
.teal-purple-grad { background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 51%, #00dbde 100%); }
.grey-black-grad { background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 51%, #bdc3c7 100%); }
